/** (0,0,1) */
article  {  
    display: flex;
    flex-direction: column; 
} 
/** (0,0,1) */
section {
    margin-bottom: 1rem;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
}
/** (0,0,2) */
section h2{ 
    margin-left: 1rem;
    grid-column: 1/ span 2;
}
/** (0,0,2) */
section figure{ 
    grid-column: 1; 
    align-self: center;
}
/** (0,0,3) */
section figure img{
    max-width: 80%; 
}
/** (0,0,2) */
section p{ 
    grid-column: 2 /span 3; 
    align-self: center;
}
/** (0,0,2) */
section ul{
    grid-row: 2;
}

